/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #003366;
	--ion-color-primary-rgb: 0,51,102;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #002d5a;
	--ion-color-primary-tint: #1a4775;

	--ion-color-secondary: #00cc99;
	--ion-color-secondary-rgb: 0,204,153;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #00b487;
	--ion-color-secondary-tint: #1ad1a3;

	--ion-color-tertiary: #ffcc00;
	--ion-color-tertiary-rgb: 255,204,0;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0b400;
	--ion-color-tertiary-tint: #ffd11a;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffcc00;
	--ion-color-warning-rgb: 255,204,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0b400;
	--ion-color-warning-tint: #ffd11a;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #333333;
	--ion-color-medium-rgb: 51,51,51;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #2d2d2d;
	--ion-color-medium-tint: #474747;

	--ion-color-light: #F4F7FB;
	--ion-color-light-rgb: 244,247,251;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d9dd;
	--ion-color-light-tint: #f5f8fb;
}
